---
import Container from "@components/container.astro";
import DiscoverGrid from "@components/discovergrid.astro";
import CollectionGrid from "@components/collectiongrid.astro";
import Hero from "@components/hero.astro";
import SectionHead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";

import data from "instance.json";
---

<Layout title={data.projectTitle}>
  <Hero 
      title={data.projectTitle}
      splashText={data.splashText}
      heroText={data.projectDescription}
      headerImage={data.headerImage}
      />
  <Container>
    <div class="font-serif text-xl">
      <p>Using historic and contemporary maps in the collections of the Osher Map Library and Smith Center for Cartographic Education (University of Southern Maine) and the Leventhal Map and Education Center (Boston Public Library) as a starting point, participants will explore how both maps and landscapes reflect, erase, obscure, and celebrate Black and Indigenous geographies and histories along New England’s maritime coast. Through deep, critical work with maps, guided museum explorations and learning journeys in rural and urban landscapes, scholar talks and creative workshops, and critical readings and discussions, participants will consider and reflect upon representations of community and resilience in maritime New England, and bring new ways of looking through maps back to their own classrooms and local landscapes</p>
    </div>
    <SectionHead text="Lessons and Articles"/>
    <DiscoverGrid />
    <SectionHead text="Explore Collection Groups"/>
    <CollectionGrid />
    <SectionHead text="Contact"/>
    <p class="text-xl">Please direct any questions about the 2024 Teaching with Maps Summer Institute to the Project Director, Libby Bischof: <a href="mailto:Elizabeth.Bischof@maine.edu">Elizabeth.Bischof@maine.edu</a> or 207-780-4850.</p>
  </Container>
  
</Layout>

